@page
@model IdentityService.Pages.Register.Index

<div>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-6 offset-3">
            
        </div>
    </div>
</div>